/* 로그인/회원가입 페이지 전용 스타일 */

/* 전체 적용 */
html,
body {
    margin: 0;
    min-height: 100vh;
    background-color: #333333;
    display: flex;
    justify-content: center;
    /* 가로 중앙 */
    align-items: center;
    /* 세로 중앙 */
}

/* padding, border가 요소의 전체 크기에 포함 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 다크모드 기준 색상 변수 */
:root {
    --bg-main: #333333;
    /* 전체 어두운 회색 배경 */
    --bg-box: #444444;
    /* 푸터 등 박스 배경 */
    --text-main: #ffffff;
    /* 기본 글자색 (흰색) */
    --text-muted: #aaaaaa;
    /* 설명용 연한 회색 글자 */
    --point-mint: #00ffa3;
    /* EMSYS 상징 민트색 */
    --border-color: #555555;
    /* 연한 테두리 선 색상 */
}

/* 로그인, 회원가입, ID/PW찾기 공통 스타일 */
.auth-container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 40px 20px;
}

.auth-box,
.change-pw-box {
    min-width: 500px;
    min-height: 400px;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-main);
    text-align: center;
    margin: 0px auto;
}

.auth-text,
.change-pw-text {
    font-size: 64px;
    color: var(--point-mint);
    margin: 0px auto;
}

.auth-subtext,
.change-pw-subtext {
    font-size: 20px;
    color: var(--text-main);
    margin: 10px 0px 30px 0px;
}

.input-box {
    width: 400px;
    padding: 10px 0px 10px 15px;
    margin: 5px auto;
    color: var(--text-main);
    background-color: var(--bg-box);
    border-radius: 10px;
    border: 1px solid var(--text-muted);
    font-size: 16px;
}

.input-box::placeholder {
    color: var(--text-muted);
}

/* 크롬 자동으로 인한 배경색 바뀜 방지 */
.input-box:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-box) inset; /* 배경색을 box-shadow 스타일로 덮어쓰기 */
    -webkit-text-fill-color: var(--text-main);
}

.login-link,
.signup-link{
    font-size: 16px;
    color: var(--text-main);
    margin: 10px 0px;
}

.auth-btn,
.change-pw-btn {
    width: 400px;
    background-color: var(--point-mint);
    color: #000000;
    border: none;
    padding: 10px 0px 10px 0px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.auth-btn:hover,
.change-pw-btn:hover {
    background-color: var(--point-mint);
    opacity: 0.8;
}

a {
    font-size: 16px;
    color: var(--point-mint);
    text-decoration: none;
}

a:hover {
    font-size: 16px;
    color: var(--point-mint);
    text-decoration: underline;
}

/* ID 찾기/PW 변경 페이지 스타일 */
.find-tabs {
    width: 100%;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 30px 0px;
}

.tab-content>.tab-pane {
    /* tab-pane 클래스는 기본적으로 숨김 처리 */
    display: none;
}

.tab-content>.active {
    /* active 클래스가 있는 탭은 보이도록 설정 */
    display: block;
}

.find-tabs>li {
    width: auto;
    padding: 0px 20px;
    text-align: center;
}

.find-tabs>li>a {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-muted);
    background-color: var(--bg-main);
    border: none;
    border-bottom: 5px solid var(--border-color);
}

.find-tabs>li.active>a,
.find-tabs>li>a:hover,
.find-tabs>li.active>a:hover,
.find-tabs>li.active>a:focus {
    color: var(--point-mint);
    background-color: var(--bg-main);
    border: none;
    border-bottom: 5px solid var(--point-mint);
    outline: none;
}