<footer class="footer-section">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <h4 class="footer-logo"><i class="fa-regular fa-copyright"></i>EMSYS</h4>
                    <p class="footer-description">충북 청주시 서원구 충대로 1(충북대학교)<br>
                        전자정보대학 3관 S4-1
                    </p>
                </div>

                <div class="col-sm-6 text-right">

                    <div class="footer-description-contact">
                        회장 최봉규 010-0000-0000<br>
                        부회장 탁우림 010-0000-0000
                    </div>

                    <div class="footer-socials">
                        <a href="https://www.instagram.com/cbnu_emsys?igsh=MTl4ZXo0Nno4aHJ5Zg=="><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/orgs/cbnuEMSYS"><i class="fa-brands fa-github"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </footer>