<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">EMSYS</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../pages/community.html">커뮤니티</a></li>
                <li><a href="../pages/resources.html">자료실</a></li>
                <li><a href="../pages/mypage.html">마이페이지</a></li>
                <li><a href="../pages/login.html">로그인</a></li>
            </ul>
        </div>
    </div>
</nav>